body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    position: fixed;
}

header nav a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

header nav a:hover {
    background-color: #575757;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
}
